@font-face {
    font-family: Lato-Regular;
    src: url(Lato-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 50px;
}

* {
    box-sizing: border-box;
    text-decoration: none !important;
    /*font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;*/
    font-family: Lato-Regular;
    font-weight: 100;
}

.App {
    /*border: solid;*/
    max-width: 600px;
    margin: auto;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-flow: column;

}

.App > div {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    /*border: solid;*/
    border-bottom: solid;
}

ol {
    height: 100%;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

li {
    padding: 15px;
}